---
- name: Test required values for create
  ansible.builtin.assert:
    that:
      - >-
          vmware_vsphere_vmware_guest_esxi_hostname | default('') | length > 0
          or vmware_vsphere_vmware_guest_cluster | default('') | length > 0
      - vmware_vsphere_vmware_guest_datastore | length > 0
      - vmware_vsphere_vmware_iso_datastore | length > 0
      - vmware_vsphere_datacenter is defined
      - vmware_vsphere_network is defined
      - vmware_vsphere_folder_full_path | length > 0
      - vmware_vsphere_folder_name | length > 0
  when: not vmware_vsphere_destroy | bool

- name: Test required values for destroy
  ansible.builtin.assert:
    that:
      - vmware_vsphere_datacenter is defined
      - vmware_vsphere_network is defined
      - vmware_vsphere_folder_full_path | length > 0
      - vmware_vsphere_folder_name | length > 0
  when: vmware_vsphere_destroy | bool
