---
- name: Add nodes to vcenter
  module_defaults:
    group/vmware: "{{ vmware_vsphere_module_defaults_vmware_group }}"
    community.vmware.vmware_guest: >-
      {{ vmware_vsphere_module_defaults_vmware_guest }}
  delegate_to: "{{ vmware_vsphere_delegate_to }}"
  community.vmware.vmware_guest:
    name: "{{ hostvars[item]['inventory_hostname'] }}"
    state: present
    esxi_hostname: >-
      {{ vmware_vsphere_vmware_guest_esxi_hostname | default(omit) }}
    cluster: >-
      {{ vmware_vsphere_vmware_guest_cluster | default(omit) }}
    disk: "{{ vmware_vsphere_vmware_guest_disk }}"
    hardware: "{{ vmware_vsphere_vmware_guest_hardware }}"
  with_items:
    - "{{ vmware_hosts | default([]) }}"
