---
- name: Remove nodes from vcenter
  module_defaults:
    group/vmware: "{{ vmware_vsphere_module_defaults_vmware_group }}"
    community.vmware.vmware_guest: >-
      {{ vmware_vsphere_module_defaults_vmware_guest }}
  delegate_to: "{{ vmware_vsphere_delegate_to }}"
  community.vmware.vmware_guest:
    name: "{{ hostvars[item]['inventory_hostname'] }}"
    state: absent
    force: true
  with_items:
    - "{{ vmware_hosts | default([]) }}"
