---
# tasks/manage_folder.yml
#
# Create or delete the VM folder for the current target host.
# No run_once here, because folder_name can be host-specific.

- name: Ensure VM folder present ({{ vmware_vsphere_folder_name }})
  module_defaults:
    group/vmware: "{{ vmware_vsphere_module_defaults_vmware_group }}"
    community.vmware.vmware_guest: >-
      {{ vmware_vsphere_module_defaults_vmware_guest }}
  delegate_to: "{{ vmware_vsphere_delegate_to }}"
  vmware.vmware.folder:
    hostname: "{{ vmware_vsphere_hostname }}"
    username: "{{ vmware_vsphere_username }}"
    password: "{{ vmware_vsphere_password }}"
    validate_certs: "{{ vmware_vsphere_validate_certs }}"
    datacenter: "{{ vmware_vsphere_datacenter }}"
    absolute_path: "{{ vmware_vsphere_folder_full_path }}"
    state: present
  when: not vmware_vsphere_destroy | bool

- name: Ensure VM folder absent ({{ vmware_vsphere_folder_name }})
  module_defaults:
    group/vmware: "{{ vmware_vsphere_module_defaults_vmware_group }}"
    community.vmware.vmware_guest: >-
      {{ vmware_vsphere_module_defaults_vmware_guest }}
  delegate_to: "{{ vmware_vsphere_delegate_to }}"
  vmware.vmware.folder:
    hostname: "{{ vmware_vsphere_hostname }}"
    username: "{{ vmware_vsphere_username }}"
    password: "{{ vmware_vsphere_password }}"
    validate_certs: "{{ vmware_vsphere_validate_certs }}"
    datacenter: "{{ vmware_vsphere_datacenter }}"
    absolute_path: "{{ vmware_vsphere_folder_full_path }}"
    state: absent
  register: vmware_vsphere_folder_absent_result
  failed_when: false
  when:
    - vmware_vsphere_destroy | bool
    - vmware_vsphere_destroy_folder | default(false) | bool

- name: Folder not deleted because other VMs still exist
  ansible.builtin.debug:
    msg: >-
      Directory {{ vmware_vsphere_folder_full_path }} has not been deleted
      because other VMs still exist.
  when:
    - vmware_vsphere_destroy | bool
    - vmware_vsphere_destroy_folder | default(false) | bool
    - vmware_vsphere_folder_absent_result is defined
    - vmware_vsphere_folder_absent_result.failed | default(false)
    - "'contains a vm' in (vmware_vsphere_folder_absent_result.msg | default('') | lower)"

- name: Fail when folder deletion failed for another reason
  ansible.builtin.fail:
    msg: "{{ vmware_vsphere_folder_absent_result.msg | default('Folder deletion failed') }}"
  when:
    - vmware_vsphere_destroy | bool
    - vmware_vsphere_destroy_folder | default(false) | bool
    - vmware_vsphere_folder_absent_result is defined
    - vmware_vsphere_folder_absent_result.failed | default(false)
    - "'contains a vm' not in (vmware_vsphere_folder_absent_result.msg | default('') | lower)"
