---
# - name: 'Include tasks to ensure variables are defined properly'
  # ansible.builtin.include_tasks:
    # file: 'assert.yml'
  # tags: always

- name: Set fact to apply or destroy
  ansible.builtin.set_fact:
    terragrunt_action: "{% if ter_terragrunt_destroy | bool %}-destroy{% else %}{% endif %}"
  tags: always

- name: Create terragrunt environment
  ansible.builtin.file:
    path: "{{ role_path }}/environments/{{ cluster_id }}"
    state: directory
    recurse: true
    mode: '0700'
  delegate_to: localhost
  become: false
  tags: terragrunt_validate

- name: Create empty environments/root.hcl
  ansible.builtin.copy:
    content: ''
    dest: "{{ role_path }}/environments/root.hcl"
    mode: '0600'
  tags: terragrunt_validate

- name: Generate dynamic terragrunt for current cluster
  ansible.builtin.template:
    src: "{{ ter_terragrunt_template }}"
    dest: "{{ role_path }}/environments/{{ cluster_id }}/terragrunt.hcl"
    mode: '0600'
  delegate_to: localhost
  become: false
  tags: terragrunt_validate

- name: Terragrunt init
  environment:
    TF_HTTP_USERNAME: "{{ ter_http_username }}"
    TF_HTTP_PASSWORD: "{{ ter_http_password }}"
  ansible.builtin.command: terragrunt init --source-update
  args:
    chdir: "{{ role_path }}/environments/{{ cluster_id }}"
  delegate_to: localhost
  register: terragrunt_init
  changed_when: terragrunt_init.rc == 0
  run_once: true
  become: false
  tags: terragrunt_validate

- name: Terragrunt validate
  environment:
    TF_HTTP_USERNAME: "{{ ter_http_username }}"
    TF_HTTP_PASSWORD: "{{ ter_http_password }}"
  ansible.builtin.command: "terragrunt validate"
  args:
    chdir: "{{ role_path }}/environments/{{ cluster_id }}"
  delegate_to: localhost
  register: terragrunt_validate
  changed_when: terragrunt_validate
  run_once: true
  become: false
  tags: terragrunt_validate

- name: Terragrunt fmt
  environment:
    TF_HTTP_USERNAME: "{{ ter_http_username }}"
    TF_HTTP_PASSWORD: "{{ ter_http_password }}"
  ansible.builtin.command: "terragrunt run -- fmt -list=true -write=false -diff=true -check=true -recursive"
  args:
    chdir: "{{ role_path }}/environments/{{ cluster_id }}"
  delegate_to: localhost
  register: terragrunt_fmt
  changed_when: terragrunt_fmt.rc != 0
  run_once: true
  become: false
  tags: terragrunt_validate

- name: Terragrunt plan
  environment:
    TF_HTTP_USERNAME: "{{ ter_http_username }}"
    TF_HTTP_PASSWORD: "{{ ter_http_password }}"
  ansible.builtin.command: "terragrunt plan {{ terragrunt_action }} -no-color -out={{ ter_plan_file | default('/tmp/tf_plan') }}"
  args:
    chdir: "{{ role_path }}/environments/{{ cluster_id }}"
  delegate_to: localhost
  register: terragrunt_plan
  changed_when: not terragrunt_plan.stdout | regex_search('No objects need to be destroyed.|Your infrastructure matches the configuration.')
  run_once: true
  become: false
  tags: terragrunt_plan

- name: Show plan
  ansible.builtin.debug:
    msg: "{{ terragrunt_plan.stdout_lines }}"
  delegate_to: localhost
  run_once: true
  become: false
  tags: terragrunt_plan

- name: Ask for confirmation
  ansible.builtin.pause:
    prompt: "Are you sure you want to apply the changes? (yes/no)"
  register: confirm_apply
  become: false
  when:
    - terragrunt_plan.stdout is defined and
      (not terragrunt_plan.stdout | regex_search('No objects need to be destroyed.|Your infrastructure matches the configuration.'))
    - not ter_skip_confirmation
  tags: terragrunt_apply

- name: Terragrunt apply
  environment:
    TF_HTTP_USERNAME: "{{ ter_http_username }}"
    TF_HTTP_PASSWORD: "{{ ter_http_password }}"
  ansible.builtin.command: "terragrunt apply -input=false -auto-approve {{ terragrunt_action }} {{ ter_plan_file | default('/tmp/tf_plan') }}"
  args:
    chdir: "{{ role_path }}/environments/{{ cluster_id }}"
  delegate_to: localhost
  register: terragrunt_apply
  changed_when: terragrunt_apply.rc == 0
  when: (confirm_apply.user_input is defined and confirm_apply.user_input | bool) or ter_skip_confirmation
  run_once: true
  become: false
  tags: terragrunt_apply

- name: Cleanup terragrunt environment
  ansible.builtin.file:
    path: "{{ role_path }}/environments/{{ cluster_id }}"
    state: absent
  delegate_to: localhost
  become: false
  tags: terragrunt_validate
